<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>

    <ion-title>Usuarios Comprometidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-card *ngFor="let user of users | async">
      <ion-card-header>
        <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
        <ion-card-title>{{ user.name }} {{ user.lastname }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          {{ user.password }}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
