<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s hydrated">
        <img src="./assets/images/bulevar.jpg">
        <ion-card-header class="hydrated">
          <ion-card-subtitle role="heading" aria-level="3" class="hydrated">Local</ion-card-subtitle>
          <ion-card-title role="heading" aria-level="2" class="hydrated">Bulevar Relax</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content card-content-ios hydrated">
          Contamos con diferentes ambientes, buenas promociones, precios mas atractivos, buena atencion, servicio express y buenas comidas.
        </ion-card-content>
      </ion-card>

</ion-content>
