<app-header title="Promos"></app-header>
  
  <ion-content padding fullscreen>
  
    <ion-row fixed>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let promo of promos">
        <ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s hydrated" (click)="showDetails(promo.id)">
          <img [src]="promo.imgSrc">
          <ion-card-header class="hydrated">
            <ion-card-subtitle role="heading" aria-level="3" class="hydrated">{{ promo.type }}</ion-card-subtitle>
            <ion-card-title role="heading" aria-level="2" class="hydrated">{{ promo.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content card-content-ios hydrated">{{ promo.description }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  
  </ion-content>