<ion-tabs class="menu-bar">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="goToCart($event)" color="danger" class="ion-color-danger" >
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Cerca de mi</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="promos">
        <ion-icon name="beer"></ion-icon>
        <ion-label>Promociones</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Mi perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
